@mixin grid {
	margin: 0 auto;
	width: 90%;
	position: relative;

	@include media($gridWidth + 100, min) {
		width: $gridWidth;
	}
}

body {
	overflow-x: hidden;
}

.container {
	@include grid;

	&--left {
		margin-left: 5%;

		@include media($gridWidth + 50, min) {
			margin-left: calc(50% - (#{$gridWidth} / 2));
		}
	}

	&--right {
		margin-right: 5%;

		@include media($gridWidth + 50, min) {
			margin-right: calc(50% - (#{$gridWidth} / 2));
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&--center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@include media($colBreak, min) {
		@for $i from 1 to 13 {
			&--#{$i} {
				width: calc(8.3333333% * #{$i});
			}
		}
	}
}

.align {
	&--start {
		align-items: flex-start;
	}

	&--center {
		align-items: center;
	}

	&--strech {
		align-items: stretch;
	}

	&--end {
		align-items: flex-end;
	}
}

.justify {
	&--start {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
	}

	&--space {
		justify-content: space-between;
	}

	&--end {
		justify-content: flex-end
	}
}