<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Title</title>
	<meta name="description"
		content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut officia corporis omnis possimus ducimus?">

	<!-- opengraph -->
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">

	<!-- top bar -->
	<meta name="theme-color" content="#4285f4">
	<link rel="stylesheet" href="./css/_app.scss">
</head>